$fa-font-path: "~font-awesome/fonts";
$fa-font-path: "~font-awesome/fonts";
$bootstrap-sass-asset-helper: false !default;
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$icon-font-name: "glyphicons-halflings-regular" !default;
$icon-font-svg-id: "glyphicons_halflingsregular" !default;

$orange: #ff693b;
$green: #a1e8b1;
$blue: #85b2f6;
$white: #fff;
$black: #000;
$primary: #337ab7;
$success: #3f903f;
$warning: #f0ad4e;
$danger: #d9534f;
$info: #5bc0de;
$bg: #f4f8f9;
$darker: #414e74;
$dark: #404548;
$grey: #717e87;
$light: #e6e6e6;
$wrapper: 1000px;
$blue: #00b0ff;
