@import "variables";

.navigate__wrapper {
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 1rem 0.3rem $light;
  padding: 0 1rem;
  background: white;

  a {
    color: $grey;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: none;
    padding: 1rem;

    &.active {
      border-bottom: 0.2rem solid $primary;
    }
  }
}

@media only screen and (min-width: 720px) {
  .navigate__wrapper {
    box-shadow: none;

    a {
      font-size: 1.28rem;
      padding: 1.5rem;
    }
  }
}
