@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import "variables";
@import "mixins";
@import "keyframes";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~font-awesome/scss/font-awesome";

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: all 300ms ease-in;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 62.5%;
}

body {
  background-color: $bg;
}

img {
  width: 100%;
  height: auto;
}
